.itemsList{
    height: 90vh;
    color: white;
    overflow: scroll;
    .top{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .filter{
        border: 2px solid white;
        width: 200px;
        height: 30px;
        border-radius: 58px;
        margin-bottom: 5px;
        padding-left: 15px;
        font-family: "Bebas Neue";
    }
    .article{
        border: 1px solid white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            border: 1px solid white;
            width: 20%;
            height: 100px;
        }
        a{
            color: orangered;
            text-decoration: none;
        }
    }
}