.root{
    background-color: #0F172A;
    h1, h2, h3{
        font: {
            family: "Bebas Neue";
        }
    }

    font: {
        family: "Inter";
        weight: 500;
        color: grey;
    }
}